<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Dato</title>
    <!-- Enlace al CDN de Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="bg-white rounded-lg shadow-md max-w-md mx-auto mt-10 p-8">
      <button
        onclick="goBack()"
        class="border rounded p-2 bg-gray-500 text-white hover:bg-gray-600 mb-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 inline-block align-middle mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        Regresar
      </button>
      <h1 class="text-2xl font-bold mb-4">Editar Dato</h1>

      <div class="form-container">
        <form
          action="/update_document/{{ document['_id'] }}"
          method="post"
          class="space-y-4"
        >
          <div class="form-group">
            <label for="name" class="font-bold">Nombre:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="{{ document['name'] }}"
              required
              class="border rounded p-2 w-full"
            />
          </div>
          <div class="form-group">
            <label for="listing_url" class="font-bold">URL del listado:</label>
            <input
              type="text"
              id="listing_url"
              name="listing_url"
              value="{{ document['listing_url'] }}"
              required
              class="border rounded p-2 w-full"
            />
          </div>
          <div class="form-group">
            <label for="summary" class="font-bold">Resumen:</label>
            <textarea
              id="summary"
              name="summary"
              required
              class="border rounded p-2 w-full"
            >
{{ document['summary'] }}</textarea
            >
          </div>
          <div class="form-group">
            <label for="property_type" class="font-bold"
              >Tipo de propiedad:</label
            >
            <input
              type="text"
              id="property_type"
              name="property_type"
              value="{{ document['property_type'] }}"
              required
              class="border rounded p-2 w-full"
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="border rounded p-2 bg-blue-500 text-white hover:bg-blue-600 cursor-pointer w-full"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
