<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MongoDB Data</title>
    <!-- Enlace al CDN de Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col items-center justify-center h-screen">
    <h1 class="mb-8 text-3xl font-bold">Datos del MongoDB</h1>
    <!-- Botones -->
    <div class="flex">
      <a
        href="/AñadirDato"
        class="button mr-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
        >Añadir Dato</a
      >
      <a
        href="/VerDatos"
        class="button bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
        >Ver Base de Datos</a
      >
    </div>
  </body>
</html>
