<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Datos</title>
    <!-- Enlace al CDN de Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container max-w-3xl mx-auto px-4 py-8">
      <!-- Botón para regresar a la página anterior -->
      <button
        onclick="goBack()"
        class="border rounded p-2 bg-gray-500 text-white hover:bg-gray-600 mr-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 inline-block align-middle mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        Regresar
      </button>

      <h1 class="text-2xl mb-5">Ver Datos</h1>

      <!-- Formulario de búsqueda -->
      <div class="mb-5 flex items-center">
        <label for="search_name" class="text-gray-700"
          >Buscar por nombre:</label
        >
        <input
          type="text"
          id="search_name"
          name="search_name"
          placeholder="Ingrese el nombre"
          class="border rounded p-2 ml-2"
        />
        <button
          type="submit"
          class="border rounded p-2 ml-2 bg-blue-500 text-white hover:bg-blue-600"
        >
          Buscar
        </button>
      </div>

      <ul id="data-list">
        <!-- Aquí se insertarán los datos obtenidos de MongoDB -->
        {% for document in data %}
        <li class="info-box border rounded p-10 mb-5 bg-white">
          <div class="flex justify-between mb-5">
            <div class="text-gray-700">_id:</div>
            <div>{{ document['_id'] }}</div>
          </div>
          <div class="flex justify-between mb-5">
            <div class="text-gray-700">Listing URL:</div>
            <div>
              <a
                href="{{ document['listing_url'] }}"
                target="_blank"
                class="text-blue-500"
                >{{ document['listing_url'] }}</a
              >
            </div>
          </div>
          <div class="flex justify-between mb-5">
            <div class="text-gray-700">Nombre:</div>
            <div>{{ document['name'] }}</div>
          </div>
          <div class="flex justify-between mb-5">
            <div class="text-gray-700">Descripción:</div>
            <div>{{ document['summary'] }}</div>
          </div>
          <div class="flex justify-between mb-5">
            <div class="text-gray-700">Tipo de propiedad:</div>
            <div>{{ document['property_type'] }}</div>
          </div>
          <!-- Botones de eliminar y editar -->
          <div class="flex justify-between">
            <form action="/delete_document/{{ document['_id'] }}" method="post">
              <button
                type="submit"
                class="border rounded p-2 bg-red-500 text-white hover:bg-red-600"
              >
                Eliminar
              </button>
            </form>
            <a
              href="/editar_dato/{{ document['_id'] }}"
              class="text-blue-500 hover:text-blue-600"
              >Editar</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>

      <!-- Barra de navegación para paginación -->
      <div class="flex justify-between">
        {% if current_page > 1 %}
        <a
          href="/VerDatos?page={{ current_page - 1 }}"
          class="text-blue-500 hover:text-blue-600"
          >Anterior</a
        >
        {% endif %} {% if current_page < total_pages %}
        <a
          href="/VerDatos?page={{ current_page + 1 }}"
          class="text-blue-500 hover:text-blue-600"
          >Siguiente</a
        >
        {% endif %}
      </div>
    </div>

    <!-- Script para manejar la lógica de eliminar -->
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
